@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import 'bigSlider.css';
@import 'button.css';
@import 'card.css';
@import 'footer.css';
@import 'megaMenu.css';
@import 'navMenu.css';
@import 'navMenuDesktop.css';
@import "typo.css";

.spad{
    padding-top: 50px;
    padding-bottom: 50px;
}
.category-box{
    text-align: center;
    padding: 30px
}